* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
:root {
  --color-buttom1: #7fc4b4;
  --color-buttom2: #b9e1d8;
  --color-buttom3: #d9e2e6;
  --color-buttom4: #f6bf96;
  --color-buttom5: #f0a165;
  --color-li0: #564f57;
  --color-li1: #8f7193;
  --color-li2: #a788ab;
  --color-li3: #c0a0c3;
  --color-li4: #dfcae1;
  --color-li5: #fffeff;
  --type-font-family: sans-serif;
  --skills-color-1: #00bef8;
  --skills-color-2: #ff0697;
  --skills-color-3: #ff4d00;
  --skills-color-4: #ffe600;
  --skills-color-5: #8c09bb;
  --skills-color-6: #69071c;
  --skills-color-7: #ac0c56;
  --skills-color-8: #000000;
}
html {
  height: 100%;
  box-sizing: border-box;
  font-family:var(--type-font-family) inherit; 
}
/* @keyframes background-color-body{
  0% {
    background: linear-gradient(to bottom, #7fc4b4, white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  25% {
    background: linear-gradient(to bottom, #b9e1d8, white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  50% {
    background: linear-gradient(to bottom, #d9e2e6, white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  75% {
    background: linear-gradient(to bottom, #f6bf96, white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  100% {
    background: linear-gradient(to bottom, #f0a165, white);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
} */
@keyframes background-body {
  0% {
    background-image: url("./recursos/background-main/cellphone/1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  25% {
    background-image: url("./recursos/background-main/cellphone/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  50% {
    background-image: url("./recursos/background-main/cellphone/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  75% {
    background-image: url("./recursos/background-main/cellphone/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  100% {
    background-image: url("./recursos/background-main/cellphone/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.body {
  width: 100%;
  animation-name: background-body;
  animation-duration: 12s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function:linear;
  animation-play-state: running;
  display: grid;
  grid-template-areas: 
    "header"
    "main"
    "footer"  
  ;
  grid-template-columns: auto;
  grid-template-rows: 4rem auto min-content;
  box-sizing: border-box;

}
.header {
  position: fixed;
  top: 0;
  z-index: 994;
  background-color: #a788ab3b;
  width: 100%;
  max-width: 1400px;
  grid-area: header;
  box-sizing: border-box;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 4rem;
  padding: 0 1rem;
  color: #000000;
}
.header-nav__container-logo  {
  display: flex;
  text-decoration: none;
  color: white;
  font-family: 'Dongle', sans-serif;
}
.header-nav__container-logo p {
  font-size: 2.3rem;
  margin-left: 0.3rem;
  margin-top: 1.1rem;
  font-weight: 900;
  line-height: 1.7rem;
}
.header-md {
  background-color: #ffffff;
  box-shadow: 0 0 8px 0px rgb(0, 0, 0);
}
.header-md .header-nav__container-logo p {
  color: #000000;
}
@keyframes zoom-logo{
  from{
    transform: scale(1);
  }
  to {
    transform:  scale(1.1);
  }
}
@keyframes color-logo{
  0% {
    color: #564f57;
  }
  25% {
    color: #8f7193;
  }
  50% {
    color: #a788ab;
  }
  75% {
    color: #c0a0c3;
  }
  100% {
    color: #dfcae1;
  }
}
/* @keyframes deplazamiento-logo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(240%);
  }
  
} */
.header-nav__container-logo img {
  width: 3rem;
  transform: rotateY(180deg);
  color: white;
  /* animation-name: zoom-logo, color-logo, deplazamiento-logo; */
  animation-duration: 2s, 5s, 1s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state: running;
}
.header-nav__container-logo:hover {
transform: scale(1.2);
}
@keyframes color-background-list{
  0% {
    background-color: #cdb2cb;

    
  }
  25% {
    background-color: #f7b2c0;
    
  }
  50% {
    background-color: #fdddaa;

  }
  75% {
    background-color: #f6bf96;
   
  }
  100% {
    background-color: #c0ebef;
    
  }
} 
@keyframes color-background-butoom1{
  0% {
    background-color: var( --color-li0); 
  }
  25% {
    background-color: var( --color-li1);
    
  }
  50% {
    background-color: var( --color-li2);

  }
  75% {
    background-color: var( --color-li3);
   
  }
  100% {
    background-color: var( --color-li4);
    
  }
} 
.header-nav__container-list-desactibe {
  position: fixed;
  z-index: 998;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.7rem;
  animation-name: color-background-list;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state: running; 
  animation-duration:10s;
  transform: translate(0,-100%);
  transition: all 1s;
}
.header-nav__container-list-active {
  transform: translate(0,0);
}
.header-nav__container-link {
  display: flex;
  width: 100%;
  justify-content: center;

}
@keyframes color-background-li1{
  0% {
    background-color: var(--color-li1); 
  }
  100% {
    background-color: var(--color-li4);
    
  }
} 
@keyframes color-background-li2{
  0% {
    background-color: var(--color-li2); 
  }
  100% {
    background-color: var(--color-li3);
    
  }
} 
@keyframes color-background-li3{
  0% {
    background-color: var(--color-li3); 
  }
  100% {
    background-color: var(--color-li2);
    
  }
} 
@keyframes color-background-li4{
  0% {
    background-color: var(--color-li4); 
  }
  100% {
    background-color: var(--color-li1);
    
  }
} 
.header-nav__container-link1 {
  animation-name: color-background-li1;
  animation-duration:2s;
  animation-delay: 0s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state:running;
}
.header-nav__container-link2 {
  animation-name: color-background-li2;
  animation-duration:2s;
  animation-delay: 0s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state:running;
}
.header-nav__container-link3 {
  animation-name: color-background-li3;
  animation-duration:2s;
  animation-delay: 0s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state:running;
}
.header-nav__container-link4 {
  animation-name: color-background-li4;
  animation-duration:2s;
  animation-delay: 0s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state:running;
}
.header-nav-link {
  display: flex;
}
.header-nav-link__items {
  font-family: var(--type-font-family);
  font-size: 1.1rem;
  text-decoration: none;
  color: #ffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: all 0.5s;
  display: flex;
}
@keyframes color-background-butoom2{
  0% {
    background-color: var(--color-li1); 
  }
  100% {
    background-color: var(--color-li4);
    
  }
} 
.panel-btn {
  padding: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  z-index: 999;
  border-radius: 10px;
  animation-name: color-background-butoom1;
  animation-duration:5s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state: running;
}
.hamburger.is-active:hover {
  animation-name: color-background-butoom2;
  animation-duration:4s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state: running
}
#hamburger-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hamburger-inner {
  width: 24px;
  background-color: rgb(255, 255, 255);
}
#hamburger-inner::after {
  width: 24px;
  background-color: rgb(255, 255, 255);
}
#hamburger-inner::before {
  width: 24px; 
  background-color: rgb(255, 255, 255);
}

.main {
  width: 100%;
  max-width: 1400px;
  grid-area: main;
  display: grid;
  grid-template-areas: 
    "perfil"
    "experiencia"
    "habilidades"
    "contactar";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  box-sizing: border-box;
  gap:  4rem;
  animation-name: background-main;
  animation-duration: 24s;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* -----------------------MAIN-SECTION-PERFIL------------------------------------------------------------------------------------- */
 .perfil {
  grid-area: perfil;
  padding-top: 4rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  text-align: center;
  display: grid;
  grid-template-areas: 
  "container1"
  "container2"
  "video"
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 1rem;
  background-color: #a788ab3b;
}
.perfi-container__info {
  grid-area: container1;
  color: white;
  padding: 0.5rem;
}
.perfil__title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size:2rem;
}
.perfil__sub-title{
  margin-bottom: 0.5rem;
}
.perfil__p {
 
}
.perfil-container__enlaces {
  grid-area: container2;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}
.container {
  background-color: white;
  padding: 2rem 0;
}
.slider-container {
  display: grid;
  grid-template-columns: 50px min-content 50px;
  align-items: center;
  gap: 1rem;
  justify-content: center;

}
.slider__body {
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
  display: grid;
  align-items: center;

}
.slider__body--show {
  opacity: 1;
  pointer-events: unset;
}
.slider__img {
  width: 250PX;
  height: 250PX;
  border-radius: 50%;
  object-fit: cover;
  border: 0.2rem solid var(--color-li1);
  box-shadow: 0 0 1.5rem 0 var(--color-li0);
}

@keyframes zoom-arrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
    filter: brightness(150%);
  }
}
.slider-arrow {
  align-self: center;
  font-size: 2rem;
  color: var(--color-li1);
  animation-name: zoom-arrow;
  animation-duration: 1s;
  animation-timing-function: liner;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}




@keyframes zoom-color_enlace1 {
  from {
    transform: scale(1);
    background-color: #8f719360;
  }
  to {
    transform: scale(1.1);
    background-color:#cd7ad8bd ;
  }
}
@keyframes zoom-color_enlace2 {
  from {
    transform: scale(1);
    background-color: #cd7ad8bd;
  }
  to {
    transform: scale(1.1);
    background-color:#8f719360 ;
  }
}
.perfil__enlace {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 1rem;
}
.perfil__enlace-CV {
  margin-right: 1rem;
  animation-name: zoom-color_enlace1;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.perfil__enlace-CV i {
  color:rgb(255, 255, 255);
  font-size: 1rem;
}
.perfil__enlace-portafolio {
  animation-name: zoom-color_enlace2;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.perfil-container__foto {
  grid-area: video;
  background-color: var(--color-li0);
  padding: 1rem 0;
  height: min-content;
}
.perfil__foto {
  width: 18rem;
  border-radius: 2rem;
  border: 0.3rem inset rgba(212, 115, 196, 0.267);  
} 
/* ----------------------MAIN-SECTION-EXPERIENCIA------------------------------------------------------------------------------------- */
.experiencia {
  grid-area: experiencia;
  padding-top: 4rem;
  background-color: var(--color-li4); 
  color: var(--color-li0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 2rem;
}

.experiencia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 1024px;
  margin: auto;
  padding: 0 2rem;
}

.experiencia__title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.experiencia__experiences {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.experiencia__experience {
  display: flex;
  flex-direction: column;
}

.experiencia__date {
  color: var(--color-li2);
  margin: 0;
}

.experiencia__company {
  font-size: 1.5rem;
  margin: 0;
}

.experiencia__role {
  color: var(--color-li1);
  margin: 0;
  font-weight: 400;
}

.experiencia__activities {
  margin: 0;
  margin-top: 0.5rem;
}

.experiencia__activity {
  list-style: square;
}
/* ---------------------------MAIN-SECTION-SkillS----------------------------------------------------------------------------- */
.habilidades {
  grid-area: habilidades;
  padding-top: 4rem;
  text-align: center;
  background-color: #a788ab3b;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 2rem;
}
 .habilidades-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 0 2rem;
  max-width: 1024px;
  margin: auto;
}

.habilidades__title {
  margin: 0;
  font-size: 2rem;
  color: white;
  font-family: var(--type-font-family);
  position: relative;
}
@keyframes translate-icon1 {
  0% {
    transform: translate(0);
    color:black;
  }
  20% {
    transform: translateY(-35px);
    color: rgb(0, 0, 0);
  }
  40% {
  
    transform: translate(220px , -35px);
    color: white;
  }
  60% {
    
    transform: translate(220px , 35px);
    color: black;
  }
  80% {
    transform: translate(0px , 35px);
    color: white;
  }
  100% {
    transform: translate(0);
    color: black;
  }

}
@keyframes translate-icon2 {
  0% {
    transform: translate(0);
    color: black;
  }
  20% {
    transform: translateY(-35px);
    color: black;
  }
  40% {
  
    transform: translate(-220px , -35px);
    color: white;
  }
  60% {
    
    transform: translate(-220px , 35px);
    color: black;
  }
  80% {
    transform: translate(0px , 35px);
    color: white;
  }
  100% {
    transform: translate(0);
    color: black;
  }
}
.fa-book-dead {
  animation-name: translate-icon1;
  animation-duration: 4s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-direction: normal;
  position: absolute;
}
.fa-book-reader {
  animation-name: translate-icon2;
  animation-duration: 4s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-direction: normal;
  position: absolute; 
}
.habilidades__habilidades-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
@keyframes zoom-background-color-habilidades {
  0%{
    background-color: rgb(0, 0, 0);
    /* transform: scale(1); */
  }

  33.33% {
    background-color:  transparent;
    /* transform: scale(1.05); */
  }
  66.66%{
    background-color:  black;
    /* transform: scale(1); */
  }
  100%{
    background-color: transparent;
    /* transform: scale(1.05); */
  }
  
}
.habilidades__habilidad {
  color: rgb(255, 253, 253);
  font-weight: 500;
  padding: 1rem 1rem 0.9rem 1rem;
  border-radius: 1rem;
  animation-name: zoom-background-color-habilidades;
  animation-duration: 7s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  font-family: 'Dongle', sans-serif;
  font-size: 1.7rem;
  line-height: 1rem;
}
/* -------------------------MAIN-SECTION-CONTACT------------------------------------------------------------------------------- */
 .contacto {
  grid-area: contactar;
  padding-top: 4rem; 
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--color-li0);
  text-align: center;
  padding-bottom: 2rem;
}
.contacto-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  max-width: 1024px;
  margin: auto;
}
.contacto__tittle {
  margin: 0;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.contacto__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
}
.contacto__form-input {
  border: 0.25rem solid var(--color-li0);
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
}
.contacto__form-input:invalid {
  box-shadow: 0 0 0.5rem 0 var(--color-li1);
}
.contacto__form-input:invalid:required {
  background-image: linear-gradient(to right, rgb(240, 240, 240), rgb(255, 255, 255) );
}
.contacto__form-input:focus {
  border: 0.25rem solid black;
  transition: all 1s;
}
.contacto__form-input::placeholder {
  color: rgb(112, 112, 112);
} 
@keyframes zoom-xolor-butoom-form {
  from {
    background-color: var(--color-li4);
    
    transform: scale(1);
    color: #000000;
    font-weight: 700;
  }
  to {
    background-color: black;
    box-shadow: 0 0rem 0.5rem 0.5rem var(--color-li4);
    transform: scale(1.1);
    color: white;
    font-weight: 700;
  }
}
.contacto__form-button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  align-self: center;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  animation-name:zoom-xolor-butoom-form;
  animation-duration: 2s;
  border: none;
  font-weight: 700;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-top: 0.5rem;
} 
@keyframes color-zoom-footer1 {
  from {
      color: rgb(128, 0, 255);
  } 
  to { 
      color: #00bef8;
      transform: rotate(360deg);
  } 

}
@keyframes color-zoom-footer2 {
  from { 
      color: #00bef8;

  }
  to {
      color: #ff0697;
      transform: rotate(360deg);
  }
}
@keyframes color-zoom-footer3 {
  from {
      color: #ff0697;

  }
  to {
      color: #ff4d00;
      transform: rotate(360deg);
  }
}
@keyframes color-zoom-footer4 {
  from {
      color: #ff4d00;
  }
  to {
      color: #ffe600;
      transform: rotate(360deg);
  }
}
@keyframes color-zoom-footer5 {
  from {
      color: rgb(155, 0, 0);
  } 
  to { 
      color: #000000;
      transform: rotate(360deg);
  } 

}
@keyframes color-pag-enlace {
  0% {
      color: rgb(128, 0, 255);
  }
  25% {
      color: #00bef8;
  }
  50% {
      color: #ff0697;
  }
  75% {
      color: #ff4d00;
  }
  100% {
      color: #ffe600;
  }
}
@keyframes color-container_pag-enlace {
  from {
      background-color: rgb(0, 0, 0);
  }
  to {
      background-color: white;
  }
}
@keyframes color-spam_pag-enlace {
  from {
      color: white;
  }
  to {
      color: black;
  }
}
/* ----------------------FOOTER-------------------------------------------------------------------------- */
@keyframes background-footer {
  0% {
    background-image: url("./recursos/background-footer/cellphone/1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  25% {
    background-image: url("./recursos/background-footer/cellphone/2.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  50% {
    background-image: url("./recursos/background-footer/cellphone/3.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  75% {
    background-image: url("./recursos/background-footer/cellphone/4.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  100% {
    background-image: url("./recursos/background-footer/cellphone/5.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.footer {
  background-color: #01040900;
  width: 100%;
  box-shadow: 0 0 0.9rem 0.3rem rgba(0, 0, 0, 0.521);
  grid-area: footer;
  max-width: 1400px;
  box-sizing: border-box inherit;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  animation-name: background-footer;
  animation-duration: 24s;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.container-footer1 {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  max-width: 1400px;
  color: #ffffff;
  gap: 1rem;
  grid-template-areas: 
  "addres1"
  "addres2"
  "addres3"
  ;
  padding: 1rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  
}
.container-footer1__addres1{
  grid-area: addres1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container-footer1__addres2 {
  grid-area: addres2;
  display: grid;
  grid-template-areas: 
    "f-add-h_1"
    "box-f-add-c1" 
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  text-align: center;
  gap: 0.5rem;
}
.addres2__h2 {
  grid-area: f-add-h_1;

}
.addres1__h2 {

}
.container-rows1 {
  display: grid;
  grid-area: box-f-add-c1;
  grid-template-areas: 
    "f-add-c1"
    "f-add-c2"
    "f-add-c3"
    "f-add-c4"
    "f-add-c5" 
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 0.7rem;
  justify-content: center;
}
@keyframes background-color-zoom-addres2__icon1 {
  from {
      color: rgb(128, 0, 255);
  } 
  to { 
      color: #00bef8;
      transform: rotate(360deg);
  } 

}
@keyframes background-color-zoom-addres2__icon2 {
  from { 
      color: #00bef8;

  }
  to {
      color: #ff0697;
      transform: rotate(360deg);
  }
}
@keyframes background-color-zoom-addres2__icon3 {
  from {
      color: #ff0697;

  }
  to {
      color: #ff4d00;
      transform: rotate(360deg);
  }
}
@keyframes background-color-zoom-addres2__icon4 {
  from {
      color: #ff4d00;
  }
  to {
      color: #ffe600;
      transform: rotate(360deg);
  }
}
@keyframes background-color-zoom-addres2__icon5 {
  from {
      color: rgb(155, 0, 0);
  } 
  to { 
      color: #000000;
      transform: rotate(360deg);
  } 

}
@keyframes background-color-addres2__5 { 
  0% { 
  background-color: #000000;  
  }
  25% {
    background-color: rgba(128, 0, 255, 0);
  }
  50% { 
    background-color: rgba(128, 0, 255, 0);
  } 
  75% {
    background-color: rgba(128, 0, 255, 0);
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres2__4 {
  0% {
    background-color: rgba(128, 0, 255, 0);
  }  
  25% {
    background-color: #000000;
  }
  50% { 
    background-color: rgba(128, 0, 255, 0);
  
  } 
  75% {
    background-color: rgba(128, 0, 255, 0);
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres2__3 {
  
  0% {
    background-color: rgba(128, 0, 255, 0);
  }  
  25% {
    background-color: rgba(128, 0, 255, 0);
  }
  50% { 
    background-color: #000000;
  } 
  75% {
    background-color: rgba(128, 0, 255, 0);
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres2__2 {
  0% {
    background-color: rgba(128, 0, 255, 0);
  } 
  25% { 
    background-color: rgba(128, 0, 255, 0);
  } 
  50% { 
    background-color: rgba(128, 0, 255, 0);
  }
  75% {
    background-color: #000000;
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres2__1 {

  0% {
    background-color: rgba(128, 0, 255, 0);
  } 
  25% {
    background-color: rgba(128, 0, 255, 0);
  }
  50% { 
    background-color: rgba(128, 0, 255, 0);
  }
  75% {
    background-color: rgba(128, 0, 255, 0);
  }
  100% {
    background-color: #000000;
  }

}
.row-1-1 {
  grid-area: f-add-c1;
  animation-name: background-color-addres2__1;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1-2 {
  grid-area: f-add-c2;
  animation-name: background-color-addres2__2;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1-3 {
  grid-area: f-add-c3;
  animation-name: background-color-addres2__3;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1-4 {
  grid-area: f-add-c4;
  animation-name: background-color-addres2__4;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1-5 {
  grid-area: f-add-c5;
  animation-name: background-color-addres2__5;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1 {
 text-decoration: none;
 display: flex;
 align-items: center;
 height: 2.6rem;
 width: 100%;
 max-width: 15rem;
 border-radius: 0.4rem;
 padding: 0 0.3rem;
 box-sizing: border-box;
}
.row-1 i {
 font-size: 2.2rem;
}
#footer_icon1 {
  animation: background-color-zoom-addres2__icon1 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon2 {
  animation: background-color-zoom-addres2__icon2 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon3 {
  animation: background-color-zoom-addres2__icon3 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon4 {
  animation: background-color-zoom-addres2__icon4 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon5 {
  animation: background-color-zoom-addres2__icon5 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
.row-1 span {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 0.6rem;
}
.container-footer1__addres3 {
  grid-area: addres3;
  display: grid;
  grid-template-areas: 
    "f-add-h_2"
    "box-f-add-c2"  
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  text-align: center;
  gap: 0.5rem;
}
.addres3__h2 {
  grid-area: f-add-h_2;

}
.container-rows2 {
  display: grid;
  grid-area: box-f-add-c2;
  grid-template-areas: 
    "f-add2-c1"
    "f-add2-c2"
    "f-add2-c3"
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 0.7rem;
  justify-content: center;
}
@keyframes background-color-addres3__1 {
  0% {
      background-color: black;
  } 
  50% { 
  background-color: rgba(128, 0, 255, 0);  
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  } 
}
@keyframes background-color-addres3__2 {
  0% {
    background-color: rgba(128, 0, 255, 0);
  } 
  50% { 
    background-color: black;
  } 
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres3__3 {
  
  0% {
    background-color: rgba(128, 0, 255, 0);
  } 
  50% { 
    background-color: rgba(128, 0, 255, 0);
  } 
  100% { 
    background-color: black;
  } 

}
@keyframes background-color-zoom-addres3__icon1 {
  from {
      color: rgb(128, 0, 255);
  } 
  to { 
      color: #00bef8;
      transform: rotate(360deg);
  } 

}
@keyframes background-color-zoom-addres3__icon2 {
  from { 
      color: #00bef8;

  }
  to {
      color: #ff0697;
      transform: rotate(360deg);
  }
}
@keyframes background-color-zoom-addres3__icon3 {
  from {
      color: #ff0697;

  }
  to {
      color: #ff4d00;
      transform: rotate(360deg);
  }
}
.row-2 {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 16rem;
  border-radius: 0.4rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
 }
.row-2-1 {
  grid-area: f-add2-c1;
  animation-name: background-color-addres3__1;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-2-2 {
  grid-area: f-add2-c2;
  animation-name: background-color-addres3__2;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  padding-left: 1.3rem;
}
.row-2-3 {
  grid-area: f-add2-c3;
  animation-name: background-color-addres3__3;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  padding-left: 0.5rem;
}
.row-2 i {
  font-size: 2.2rem;
 }
#footer_icon6 {
  animation: background-color-zoom-addres3__icon1 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon7 {
  animation: background-color-zoom-addres3__icon2 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon8 {
  animation: background-color-zoom-addres3__icon3 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
.row-2 span {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 0.6rem;
  text-align: start;
}
.container-footer-2 {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  max-width: 1400px;
  grid-template-areas: 
  "copyrigh"
  "information"
  ;
  padding: 1rem 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: #000000;
}
 .copyright {
  color: #ffffff;
  display: grid;
  justify-content: center;
  margin-bottom: 0.5rem;
  grid-template-areas: 
  "copyrigh1"
  "copyrigh2"
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.copyright p {

  grid-area: copyrigh1;
}
.copyright a {
  color: #c9d1d9;
  text-decoration: none;
  font-weight: bold;
  margin-left: 4px;
  grid-area: copyrigh2;
}
.information {
  color: #C7C7C7;
  justify-content: center;
  margin-top: 0.5rem;
  display: grid;
  justify-content: center;
  grid-template-areas: 
  "information1 information2 information3"
  ;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto ;
  justify-content: center;

}
.information a {
  color: #c9d1d9;
  text-decoration: none;
  font-weight: bold;
  display: flex;
}
.a-ultm1::after {
  content:  " | ";
}
.a-ultm2::before {
  content:  " | ";
}
.information a:first-child {
  display: flex;
  grid-area:information1;
  text-align: center;
}
.information a:nth-child(2) { 
  display: flex;
  grid-area:information2;
  text-align: center;
  padding: 0 0.5rem;
}
.information a:last-child {
  display: flex;
  grid-area:information3;
  text-align: center;
} 
@media (min-width: 459px) {
  .copyright {
  
    display: grid;
    justify-content: center;

    grid-template-areas: 
    "copyrigh1 copyrigh2"
    ;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  .a-ultm1::after {
    content:  " | ";
  }
  .a-ultm2::before {
    content:  " | ";
    margin-right: 0.5rem;
  }
}
@media (min-width: 468px) {
  
  .a-ultm1::after {
    content:  " | ";
    margin-left: 0.5rem;
  }

}
@media (min-width: 529px) {
  /* ---------------------------MAIN-SECTION-SkillS----------------------------------------------------------------------------- */
  .container-footer1 {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    max-width: 1400px;
    grid-template-areas: 
    "addres1 addres1"
    "addres2 addres3"
    ; 
    grid-template-rows: auto auto ;
    grid-template-columns: auto ;
  }
  .row-1 {
    min-width: 224.84px;
  }
  .row-2 {
    min-width: 256px;
  }

}
@media (min-width: 835px) {
  .container-footer1 {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    max-width: 1400px;
    grid-template-areas: 
    "addres1 addres2 addres3"
    ; 
    grid-template-rows: auto ;
    grid-template-columns: auto auto auto;
    justify-content: center;
    
  }
  .container-footer1__addres1{
    grid-area: addres1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    line-height: 1rem;
    max-width: 420px;
  }
  .container-footer-2 {
    grid-template-areas: 
    "copyrigh information"
    ;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  hr {
    display: none;
  }
  .copyright {
    color: #C7C7C7;
  
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  .information {
    display: flex;
    color: #C7C7C7;
    justify-content: center;
    margin-top: 0;
  }
}
