* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
:root {
  --color-buttom1: #7fc4b4;
  --color-buttom2: #b9e1d8;
  --color-buttom3: #d9e2e6;
  --color-buttom4: #f6bf96;
  --color-buttom5: #f0a165;
  --color-li0: #564f57;
  --color-li1: #8f7193;
  --color-li2: #a788ab;
  --color-li3: #c0a0c3;
  --color-li4: #dfcae1;
  --color-li5: #fffeff;
  --type-font-family: sans-serif;
  --skills-color-1: #00bef8;
  --skills-color-2: #ff0697;
  --skills-color-3: #ff4d00;
  --skills-color-4: #ffe600;
  --skills-color-5: #8c09bb;
  --skills-color-6: #69071c;
  --skills-color-7: #ac0c56;
  --skills-color-8: #000000;
}
html {
  height: 100%;
  box-sizing: border-box;
  font-family:var(--type-font-family) inherit; 
}
@keyframes background-body {
  0% {
    background-image: url("./recursos/background-main/cellphone/1.jpg");
    background-position: top;
    background-repeat: no-repeat;

    background-attachment: fixed;
  }
  25% {
    background-image: url("./recursos/background-main/cellphone/2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    
    background-attachment: fixed;
  }
  50% {
    background-image: url("./recursos/background-main/cellphone/3.jpg");
    background-position: center;
    background-repeat: no-repeat;
   
    background-attachment: fixed;
  }
  75% {
    background-image: url("./recursos/background-main/cellphone/4.jpg");
    background-position: center;
    background-repeat: no-repeat;
   
    background-attachment: fixed;
  }
  100% {
    background-image: url("./recursos/background-main/cellphone/5.jpg");
    background-position: center;
    background-repeat: no-repeat;
 
    background-attachment: fixed;
  }
}
.body {
 
    width: 100%;
    background-color: #000000;
    /* animation-name: background-body; */
    animation-duration: 12s;
    animation-delay: 0s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-play-state: running;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 100%;
    grid-template-rows: 4rem auto auto;
    position: relative;
    z-index: -99999;
    overflow: scroll;
}
.body::-webkit-scrollbar {
  -webkit-appearance: none;
}

.body::-webkit-scrollbar:vertical {
  width:4px;
}

.body::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
  display: none;

} 

.body::-webkit-scrollbar:horizontal {
  height: 10px;
}

.body::-webkit-scrollbar-thumb {
  background-color: #3b3b3b9a;
  border-radius: 20px;
}

.body::-webkit-scrollbar-track {
  border-radius: 10px;  
}
.experiencia-container-moster {
  z-index: -2;
  position: absolute;
  width: 100%;
  height: 100%;
}
.fa-alien-monster {
  font-size: 4rem;
  position: absolute;
	animation-name: lluvia;
	animation-duration: 2s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	transition: all 0.5s;

}
.fa-alien-monster:nth-child(3n+1) {
	/* background: linear-gradient(transparent, ); */
	color: rgb(30, 165, 199);
}
.fa-alien-monster:nth-child(3n+1):hover {
	filter: brightness(120%);
}
.fa-alien-monster:nth-child(3n+2) {
	/* background: linear-gradient(transparent, rgb(58, 199, 30)); */
	color: rgb(199, 30, 190);
}
.fa-alien-monster:nth-child(3n+2):hover {
	filter: brightness(120%);
}
.fa-alien-monster:nth-child(3n+3) {
	/* background: linear-gradient(transparent, rgb(199, 30, 171)); */
	color: rgb(199, 30, 30);
}
.fa-alien-monster:nth-child(3n+3):hover {
	filter: brightness(120%);
}
@keyframes lluvia {
	from {
		/* transform: translateY(-30px); */
    top: 0;
	}
	to {
		/* transform: translateY(calc(600vh)); */
    top: calc(100% - 4rem);
	}
} 
.header {
  position: fixed;
  top: 0;
  z-index: 994;
  background-color: #ffffff;
  width: 100%;
  max-width: 1400px;
  grid-area: header;
  box-sizing: border-box;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 4rem;
  padding: 0 1rem;
  color: #000000;
}
.header-nav__container-logo  {
  display: flex;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-family: 'Dongle', sans-serif;
}
.header-nav__container-logo p {
  font-size: 2.3rem;
  margin-left: 0.3rem;
  margin-top: 1.1rem;
  font-weight: 900;
  line-height: 1.7rem;
  position: relative;
}
.header-nav__container-logo p::after {
  content: "DANIEL ENRIQUEZ";
  font-size: 2.3rem;
  font-weight: 900;
  filter: blur(1rem);
  position: absolute;
  z-index: -444;
  top: 0;
  left: 0;
  
}
.header-md {
  background-color: #000000;
  box-shadow: 0 0 8px 0px rgb(0, 0, 0);
}
.header-md .header-nav__container-logo p::after {
  content: "DANIEL ENRIQUEZ";
  font-size: 2.3rem;
  font-weight: 900;
  filter: blur(1rem);
  position: absolute;
  z-index: -444;
  color: white;
  top: 0;
  left: 0;
  
}
.header-md .header-nav__container-logo p {
  color: #ffffff;
}
@keyframes zoom-logo{
  from{
    transform: scale(1);
  }
  to {
    transform:  scale(1.1);
  }
}
@keyframes color-logo{
  0% {
    color: #564f57;
  }
  25% {
    color: #8f7193;
  }
  50% {
    color: #a788ab;
  }
  75% {
    color: #c0a0c3;
  }
  100% {
    color: #dfcae1;
  }
}
/* @keyframes deplazamiento-logo {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(240%);
  }
  
} */
.header-nav__container-logo img {
  width: 3rem;
  transform: rotateY(180deg);
  color: white;
}
.header-nav__container-logo  {
  transition: all 1s;
}
.header-nav__container-logo:hover {
    transform: scale(1.05);
    transition: all 1s;
    filter: brightness(120%);
}
@keyframes color-background-list{
  0% {
    background-color: #cdb2cb;

    
  }
  25% {
    background-color: #f7b2c0;
    
  }
  50% {
    background-color: #fdddaa;

  }
  75% {
    background-color: #f6bf96;
   
  }
  100% {
    background-color: #c0ebef;
    
  }
} 
@keyframes color-background-butoom1{
  0% {
    background-color: var( --color-li0); 
  }
  25% {
    background-color: var( --color-li1);
    
  }
  50% {
    background-color: var( --color-li2);

  }
  75% {
    background-color: var( --color-li3);
   
  }
  100% {
    background-color: var( --color-li4);
    
  }
} 
.header-nav__container-list-desactibe {
  position: fixed;
  z-index: 998;
  width: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 0.7rem;
  background-image: url("./recursos/hyper-light-drifter-retro-is-back.0_cinema_1280.0_te3h.1280.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* animation-name: color-background-list; */
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state: running; 
  animation-duration:10s;
  transform: translate(0,-100%);
  transition: all 1s;
  
}
.header-nav__container-list-active {
  transform: translate(0,0);
}
.header-nav__container-link {
  display: flex;
  width: 100%;
  justify-content: center;

}
@keyframes color-background-li1{
  0% {
    background-color: #a1e750; 
  }
  100% {
    background-color: #a1e750;
    filter: brightness(120%);   
  }
} 
@keyframes color-background-li2{
  0% {
    background-color: #d9d9d9; 
  }
  100% {
    background-color: #d9d9d9;
    filter: brightness(120%); 
  }
} 
@keyframes color-background-li3{
  0% {
    background-color: #ffcd39; 
  }
  100% {
    background-color:#ffcd39;
    filter: brightness(120%);
  }
} 
@keyframes color-background-li4{
  0% {
    background-color: #ff308f; 
  }
  100% {
    background-color: #ff308f;
    filter: brightness(120%);
  }
} 
.header-nav__container-link1 {
  animation-name: color-background-li1;
  animation-duration:2s;
  animation-delay: 0s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state:running;
}
.header-nav__container-link2 {
  animation-name: color-background-li2;
  animation-duration:2s;
  animation-delay: 0s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state:running;
}
.header-nav__container-link3 {
  animation-name: color-background-li3;
  animation-duration:2s;
  animation-delay: 0s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state:running;
}
.header-nav__container-link4 {
  animation-name: color-background-li4;
  animation-duration:2s;
  animation-delay: 0s;
  animation-direction:alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state:running;
}
.header-nav-link {
  display: flex;
}
.header-nav-link__items {
  font-family: var(--type-font-family);
  font-size: 1.1rem;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: 700;
  transition: all 0.5s;
  display: flex;
}
@keyframes color-background-butoom2{
  0% {
    background-color: #ff308f; 
  }
  100% {
    background-color:#ffcd39;
    
  }
} 
.panel-btn {
  padding: 0 !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  z-index: 999;
  border-radius: 10px;
  animation-name: color-background-butoom1;
  animation-duration:5s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state: running;
}
.hamburger.is-active:hover {
  animation-name: color-background-butoom2;
  animation-duration:4s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-play-state: running
}
#hamburger-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#hamburger-inner {
  width: 24px;
  background-color: rgb(255, 255, 255);
}
#hamburger-inner::after {
  width: 24px;
  background-color: rgb(255, 255, 255);
}
#hamburger-inner::before {
  width: 24px; 
  background-color: rgb(255, 255, 255);
}

.main {
  width: 100%;
  max-width: 1400px;
  grid-area: main;
  display: grid;
  grid-template-areas: 
    "perfil"
    "experiencia"
    "habilidades"
    "contactar";
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  box-sizing: border-box;
  
  animation-name: background-main;
  animation-duration: 24s;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
/* -----------------------MAIN-SECTION-PERFIL------------------------------------------------------------------------------------- */
 .perfil {
  grid-area: perfil;
  padding-top: 4rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
  text-align: center;
  display: grid;
  grid-template-areas: 
  "container1"
  "container2"
  "container3"
  ;
  grid-template-columns: 100%;
  grid-template-rows: auto auto ;
  gap: 1rem;
  background-color: #a788ab3b;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}
.perfi-container__info {
  grid-area: container1;
  color: white;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.perfil__title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size:2rem;
}
.perfil__sub-title{
  margin-bottom: 0.5rem;
}
.perfil-container__enlaces {
  grid-area: container2;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
  box-sizing: border-box;
}

.container {
  grid-area: container3;
  background-color: white;
  padding: 2rem 0;
}
.slider-container {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-items: center;
  justify-content: center;

}
.slider__body {
  grid-column: 2/3;
  grid-row: 1/2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1.5s;
  display: grid;
  align-items: center;

}
.slider__body--show {
  opacity: 1;
  pointer-events: unset;
}
.slider__img {
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  object-fit: cover;

  box-shadow: 0 0 1.5rem 0 var(--color-li0);
}

@keyframes zoom-arrow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
    filter: brightness(150%);
  }
}
.slider-arrow {
  align-self: center;
  font-size: 2rem;
  color: var(--color-li1);
  animation-name: zoom-arrow;
  animation-duration: 1s;
  animation-timing-function: liner;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin: 0 0.5rem;
}

@keyframes zoom-color_enlace1 {
  from {
    transform: scale(1);
    background-color: #8f719360;
  }
  to {
    transform: scale(1.1);
    background-color:#cd7ad8bd ;
  }
}
@keyframes zoom-color_enlace2 {
  from {
    transform: scale(1);
    background-color: #cd7ad8bd;
  }
  to {
    transform: scale(1.1);
    background-color:#8f719360 ;
  }
}
.perfil__enlace {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 1rem;
}
.perfil__enlace-CV {
  margin-right: 1rem;
  animation-name: zoom-color_enlace1;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.perfil__enlace-CV i {
  color:rgb(255, 255, 255);
  font-size: 1rem;
}
.perfil__enlace-portafolio {
  animation-name: zoom-color_enlace2;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

/* ----------------------MAIN-SECTION-EXPERIENCIA------------------------------------------------------------------------------------- */
.experiencia {
  grid-area: experiencia;
  background-color: rgb(255, 255, 255); 
  color: var(--color-li0);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  position: relative;
}
.experiencia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  max-width: 700px;
  padding: 4.1rem 0 2rem 0;
  background-color: #f7f7f7;
  z-index: 555;
  justify-content: center;
}
.experiencia-container-title {
  position: relative;
  width: 265px;
  height: 47px;
  display: flex;
  align-items: center;
 
}
.box-experiencia__title::before {
  content: "";
  position: absolute;
  width: 0px;
  left: -13px;
  top: 0px;
  height: 47px;
  background-color:#fc0060;
  transition: all 1s;
  border-right: 7px solid #fc0060;
  animation-name: animation-title-exp;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes animation-title-exp{
  0% {
    width: 0px;
  }
  100% {
      width: 273px;
      background-color:#fc5f9b;
      border-right: 7px solid #fc5f9b;
  }
}
.experiencia__title {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  position: relative;
  color: #00ade1;
  text-transform: uppercase;
  transition: all 2s;
  animation-name: animation-color-title-exp;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animation-color-title-exp{
  0% {
      color: #fc5f9b;
  }
  100% {
      color: #ffffff;
  }
}
#i-ex-clr {
  color: transparent;
  -webkit-text-stroke: 2px #00ade1;
  transition: all 2s;
  animation-name: animation-color-title-ico-exp;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes animation-color-title-ico-exp{
  0% {
    color: transparent;
    -webkit-text-stroke: 2px #fc5f9b;
  }
  100% {
      -webkit-text-stroke: 2px #ffffff;
      color: transparent;
  }
}

.experiencia__experience {
  flex-direction: column;
  width: 319px;
  background-color: #f8d2ed;
  display: flex;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.075);
  transition: all 1s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 1rem;
  box-sizing: border-box;
}
.hidden{
  display: none;
}
.experiencia__experiences-box {
  
  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 319px;
  background-color: #ffffff;
  height: 5rem;
  position: relative;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.075);
  font-family: 'Poppins', sans-serif;
}
.experiencia__experiences-box::before {
  content: "";
  position: absolute;
  width: 5px;
  background-color: var(--clr);
  height: 5rem;
  transition: all 0.5s ease-in-out;
}
.experiencia__experiences-box:hover::before {
  width: 100%;
}
.experiencia__experiences-box-ico {
  margin-right: 0.7rem;
  margin-left: 0.5rem;
}
.experiencia__experiences-box-ico i{
  font-size: 1.6rem;
  position: relative;
  color: var(--clr);
  transition: all 0.5s ease-in-out;
}
.experiencia__experiences-box:hover .experiencia__experiences-box-ico i{
  color: white;
}
.experiencia__experiences-box-text {
  position: relative;
}
.experiencia__experiences-box-text h3{
  font-weight: 500;
  color: var(--clr);
  transition: all 0.5s ease-in-out;
}
.experiencia__experiences-box:hover .experiencia__experiences-box-text h3 {
  color: white;
   
}
.experiencia__experiences-box-text h4{
   color: #999;
   font-size: 0.9rem;
   font-weight: 500;
   transition: all 0.5s ease-in-out; 
}
.experiencia__experiences-box:hover .experiencia__experiences-box-text h4 {
  color: white;
}
.experiencia__date {
  margin: 0;
}

.experiencia__activities {
  margin: 0;
  margin-top: 0.5rem;
  margin-left: 0.5rem;
  
}

.experiencia__activity {
  list-style: square;
} 
/* ---------------------------MAIN-SECTION-SkillS----------------------------------------------------------------------------- */
.habilidades {
  grid-area: habilidades;
  text-align: center;
  background-color: #0000003b;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
  position: relative;
  z-index: 2;
}
.hero-blob svg{
  width: 100%;
  height: 100%;

}
.hero-blob{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -111;
    display: flex;
}
.hero-blob-filter {
    filter: blur(50px);
}
 .habilidades-container {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 4rem 2rem 2rem 2rem;
  max-width: 700px;
}

.habilidades__title {
  margin: 0;
  font-size: 2rem;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  position: relative;
  display: flex;
  align-self: center;
}
@keyframes translate-icon1 {
  0% {
    transform: translate(0);
    color:black;
  }
  20% {
    transform: translateY(-35px);
    color: rgb(0, 0, 0);
  }
  40% {
  
    transform: translate(220px , -35px);
    color: white;
  }
  60% {
    
    transform: translate(220px , 35px);
    color: black;
  }
  80% {
    transform: translate(0px , 35px);
    color: white;
  }
  100% {
    transform: translate(0);
    color: black;
  }

}
@keyframes translate-icon2 {
  0% {
    transform: translate(0);
    color: black;
  }
  20% {
    transform: translateY(-35px);
    color: black;
  }
  40% {
  
    transform: translate(-220px , -35px);
    color: white;
  }
  60% {
    
    transform: translate(-220px , 35px);
    color: black;
  }
  80% {
    transform: translate(0px , 35px);
    color: white;
  }
  100% {
    transform: translate(0);
    color: black;
  }
}
.fa-book-dead {
  /* animation-name: translate-icon1; */
  animation-duration: 4s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-direction: normal;
  /* position: absolute; */
  padding-right: 3px;
}
.fa-book-reader {
  /* animation-name: translate-icon2;
  animation-duration: 4s;
  animation-delay: 0;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-direction: normal;
  position: absolute;  */
  padding-left: 3px;
}
.habilidades__habilidades-list {
  display: grid;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  height: 11rem;
  overflow: auto;
}

@keyframes zoom-background-color-habilidades {
  from {
    background-color: #000000;
    color: white;
  }
  to {
    background-color: white;
    color: rgb(0, 0, 0);
  }
  
}
.habilidades__habilidad {
  font-weight: 500;
  padding: 1rem 1rem 0.9rem 1rem;
  border-radius: 1rem;
  animation-name: zoom-background-color-habilidades;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  font-family: 'Dongle', sans-serif;
  font-size: 1.7rem;
  line-height: 1rem;
  cursor: pointer;
  transition: all 0.5s;
}
.habilidades__habilidad:hover {
  transform: scale(1.1);
}
/* -------------------------MAIN-SECTION-CONTACT------------------------------------------------------------------------------- */
 .contacto {
  grid-area: contactar;
  padding-top: 4rem; 
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: var(--color-li0);
  text-align: center;
  padding-bottom: 2rem;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1400px;
}
.contacto-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 1rem;
  justify-content: center;
}
.contacto__tittle {
  margin: 0;
  font-size: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.contacto__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-sizing: border-box;
  align-items: center;
}
.contacto__form-input {
  border: 0.25rem solid var(--color-li0);
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
  width: 13rem;
  display: flex;
 
}
.contacto__form-input:invalid {
  box-shadow: 0 0 0.5rem 0 var(--color-li1);
}
.contacto__form-input:invalid:required {
  background-image: linear-gradient(to right, rgb(240, 240, 240), rgb(255, 255, 255) );
}
.contacto__form-input:focus {
  border: 0.25rem solid black;
  transition: all 1s;
}
.contacto__form-input::placeholder {
  color: rgb(112, 112, 112);
} 
@keyframes zoom-xolor-butoom-form {
  from {
    background-color: var(--color-li4);
    
    transform: scale(1);
    color: #000000;
    font-weight: 700;
  }
  to {
    background-color: black;
    box-shadow: 0 0rem 0.5rem 0.5rem var(--color-li4);
    transform: scale(1.1);
    color: white;
    font-weight: 700;
  }
}
.contacto__form-button {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  align-self: center;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  animation-name:zoom-xolor-butoom-form;
  animation-duration: 2s;
  border: none;
  font-weight: 700;
  animation-timing-function: linear;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin-top: 0.5rem;
} 
@keyframes color-zoom-footer1 {
  from {
      color: rgb(128, 0, 255);
  } 
  to { 
      color: #00bef8;
      transform: rotate(360deg);
  } 

}
@keyframes color-zoom-footer2 {
  from { 
      color: #00bef8;

  }
  to {
      color: #ff0697;
      transform: rotate(360deg);
  }
}
@keyframes color-zoom-footer3 {
  from {
      color: #ff0697;

  }
  to {
      color: #ff4d00;
      transform: rotate(360deg);
  }
}
@keyframes color-zoom-footer4 {
  from {
      color: #ff4d00;
  }
  to {
      color: #ffe600;
      transform: rotate(360deg);
  }
}
@keyframes color-zoom-footer5 {
  from {
      color: rgb(155, 0, 0);
  } 
  to { 
      color: #000000;
      transform: rotate(360deg);
  } 

}
@keyframes color-pag-enlace {
  0% {
      color: rgb(128, 0, 255);
  }
  25% {
      color: #00bef8;
  }
  50% {
      color: #ff0697;
  }
  75% {
      color: #ff4d00;
  }
  100% {
      color: #ffe600;
  }
}
@keyframes color-container_pag-enlace {
  from {
      background-color: rgb(0, 0, 0);
  }
  to {
      background-color: white;
  }
}
@keyframes color-spam_pag-enlace {
  from {
      color: white;
  }
  to {
      color: black;
  }
}
/* ----------------------FOOTER-------------------------------------------------------------------------- */
@keyframes background-footer {
  0% {
    background-image: url("./recursos/background-footer/cellphone/1.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  25% {
    background-image: url("./recursos/background-footer/cellphone/2.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  50% {
    background-image: url("./recursos/background-footer/cellphone/3.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  75% {
    background-image: url("./recursos/background-footer/cellphone/4.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
  100% {
    background-image: url("./recursos/background-footer/cellphone/5.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}
.footer {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  box-shadow: 0 0 0.9rem 0.3rem rgba(0, 0, 0, 0.521);
  grid-area: footer;
  max-width: 1400px;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  /* animation-name: background-footer; */
  animation-duration: 24s;
  animation-timing-function: linear;
  animation-fill-mode: none;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  display: flex;
  justify-content: center;
  flex-direction: column;

}

.container-footer1 {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  max-width: 933px;
  color: #ffffff;
  gap: 1rem;
  grid-template-areas: 
  "addres1"
  "addres2"
  "addres3"
  ;
  padding: 1rem 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto;
  position: relative;
  align-self: center;
}
.contanier-svg{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: flex;
    transform: rotate(180deg);
}
.contanier-svg svg{
  width: 100%;
  height: 100%;

}
.contanier-svg-filter {
    filter: blur(50px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -111;
    display: flex;
    transform: rotate(180deg);
}
.container-footer1__addres1{
  grid-area: addres1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.container-footer1__addres2 {
  grid-area: addres2;
  display: grid;
  grid-template-areas: 
    "f-add-h_1"
    "box-f-add-c1" 
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  text-align: center;
  gap: 0.5rem;
}
.addres2__h2 {
  grid-area: f-add-h_1;

}
.container-rows1 {
  display: grid;
  grid-area: box-f-add-c1;
  grid-template-areas: 
    "f-add-c1"
    "f-add-c2"
    "f-add-c3"
    "f-add-c4"
    "f-add-c5" 
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  gap: 0.7rem;
  justify-content: center;
}
@keyframes background-color-zoom-addres2__icon1 {
  from {
      color: rgb(128, 0, 255);
  } 
  to { 
      color: #00bef8;
      transform: rotate(360deg);
  } 

}
@keyframes background-color-zoom-addres2__icon2 {
  from { 
      color: #00bef8;

  }
  to {
      color: #ff0697;
      transform: rotate(360deg);
  }
}
@keyframes background-color-zoom-addres2__icon3 {
  from {
      color: #ff0697;

  }
  to {
      color: #ff4d00;
      transform: rotate(360deg);
  }
}
@keyframes background-color-zoom-addres2__icon4 {
  from {
      color: #ff4d00;
  }
  to {
      color: #ffe600;
      transform: rotate(360deg);
  }
}
@keyframes background-color-zoom-addres2__icon5 {
  from {
      color: rgb(155, 0, 0);
  } 
  to { 
      color: #000000;
      transform: rotate(360deg);
  } 

}
@keyframes background-color-addres2__5 { 
  0% { 
  background-color: #000000;  
  }
  25% {
    background-color: rgba(128, 0, 255, 0);
  }
  50% { 
    background-color: rgba(128, 0, 255, 0);
  } 
  75% {
    background-color: rgba(128, 0, 255, 0);
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres2__4 {
  0% {
    background-color: rgba(128, 0, 255, 0);
  }  
  25% {
    background-color: rgb(97, 97, 97);
  }
  50% { 
    background-color: rgba(128, 0, 255, 0);
  
  } 
  75% {
    background-color: rgba(128, 0, 255, 0);
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres2__3 {
  
  0% {
    background-color: rgba(128, 0, 255, 0);
  }  
  25% {
    background-color: rgba(128, 0, 255, 0);
  }
  50% { 
    background-color: rgb(97, 97, 97);
  } 
  75% {
    background-color: rgba(128, 0, 255, 0);
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres2__2 {
  0% {
    background-color: rgba(128, 0, 255, 0);
  } 
  25% { 
    background-color: rgba(128, 0, 255, 0);
  } 
  50% { 
    background-color: rgba(128, 0, 255, 0);
  }
  75% {
    background-color: rgb(97, 97, 97);
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres2__1 {

  0% {
    background-color: rgba(128, 0, 255, 0);
  } 
  25% {
    background-color: rgba(128, 0, 255, 0);
  }
  50% { 
    background-color: rgba(128, 0, 255, 0);
  }
  75% {
    background-color: rgba(128, 0, 255, 0);
  }
  100% {
    background-color: rgb(97, 97, 97);
  }

}
.row-1-1 {
  grid-area: f-add-c1;
  animation-name: background-color-addres2__1;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1-2 {
  grid-area: f-add-c2;
  animation-name: background-color-addres2__2;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1-3 {
  grid-area: f-add-c3;
  animation-name: background-color-addres2__3;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1-4 {
  grid-area: f-add-c4;
  animation-name: background-color-addres2__4;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count:infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1-5 {
  grid-area: f-add-c5;
  animation-name: background-color-addres2__5;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-1 {
 text-decoration: none;
 display: flex;
 align-items: center;
 height: 2.6rem;
 width: 100%;
 max-width: 15rem;
 border-radius: 0.4rem;
 padding: 0 0.3rem;
 box-sizing: border-box;
}
.row-1 i {
 font-size: 2.2rem;
}
#footer_icon1 {
  animation: background-color-zoom-addres2__icon1 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon2 {
  animation: background-color-zoom-addres2__icon2 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon3 {
  animation: background-color-zoom-addres2__icon3 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon4 {
  animation: background-color-zoom-addres2__icon4 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon5 {
  animation: background-color-zoom-addres2__icon5 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
.row-1 span {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 0.6rem;
}
.container-footer1__addres3 {
  grid-area: addres3;
  display: grid;
  grid-template-areas: 
    "f-add-h_2"
    "box-f-add-c2"  
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto;
  text-align: center;
  gap: 0.5rem;
}
.addres3__h2 {
  grid-area: f-add-h_2;

}
.container-rows2 {
  display: grid;
  grid-area: box-f-add-c2;
  grid-template-areas: 
    "f-add2-c1"
    "f-add2-c2"
    "f-add2-c3"
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  gap: 0.7rem;
  justify-content: center;
}
@keyframes background-color-addres3__1 {
  0% {
      background-color: rgb(97, 97, 97);
  } 
  50% { 
  background-color: rgba(128, 0, 255, 0);  
  }
  100% {
    background-color: rgba(128, 0, 255, 0);
  } 
}
@keyframes background-color-addres3__2 {
  0% {
    background-color: rgba(128, 0, 255, 0);
  } 
  50% { 
    background-color: rgb(97, 97, 97);
  } 
  100% {
    background-color: rgba(128, 0, 255, 0);
  }

}
@keyframes background-color-addres3__3 {
  
  0% {
    background-color: rgba(128, 0, 255, 0);
  } 
  50% { 
    background-color: rgba(128, 0, 255, 0);
  } 
  100% { 
    background-color: rgb(97, 97, 97);
  } 

}
@keyframes background-color-zoom-addres3__icon1 {
  from {
      color: rgb(128, 0, 255);
  } 
  to { 
      color: #00bef8;
      transform: rotate(360deg);
  } 

}
@keyframes background-color-zoom-addres3__icon2 {
  from { 
      color: #00bef8;

  }
  to {
      color: #ff0697;
      transform: rotate(360deg);
  }
}
@keyframes background-color-zoom-addres3__icon3 {
  from {
      color: #ff0697;

  }
  to {
      color: #ff4d00;
      transform: rotate(360deg);
  }
}
.row-2 {
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 16rem;
  border-radius: 0.4rem;
  padding: 0.3rem 0.4rem;
  box-sizing: border-box;
 }
.row-2-1 {
  grid-area: f-add2-c1;
  animation-name: background-color-addres3__1;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
}
.row-2-2 {
  grid-area: f-add2-c2;
  animation-name: background-color-addres3__2;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  padding-left: 1.3rem;
}
.row-2-3 {
  grid-area: f-add2-c3;
  animation-name: background-color-addres3__3;
  animation-duration: 3s;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  padding-left: 0.5rem;
}
.row-2 i {
  font-size: 2.2rem;
 }
#footer_icon6 {
  animation: background-color-zoom-addres3__icon1 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon7 {
  animation: background-color-zoom-addres3__icon2 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
#footer_icon8 {
  animation: background-color-zoom-addres3__icon3 3s alternate 0s cubic-bezier(0.86, 0.02, 0, 0.99) infinite;
}
.row-2 span {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-left: 0.6rem;
  text-align: start;
}
.container-footer-2 {
  box-sizing: border-box;
  display: grid;
  width: 100%;
  max-width: 1400px;
  grid-template-areas: 
  "copyrigh"
  "information"
  ;
  padding: 1rem 1rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  background-color: #000000;
}
 .copyright {
  color: #ffffff;
  display: grid;
  justify-content: center;
  margin-bottom: 0.5rem;
  grid-template-areas: 
  "copyrigh1"
  "copyrigh2"
  ;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}
.copyright p {

  grid-area: copyrigh1;
}
.copyright a {
  color: #c9d1d9;
  text-decoration: none;
  font-weight: bold;
  margin-left: 4px;
  grid-area: copyrigh2;
}
.information {
  color: #C7C7C7;
  justify-content: center;
  margin-top: 0.5rem;
  display: grid;
  justify-content: center;
  grid-template-areas: 
  "information1 information2 information3"
  ;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto ;
  justify-content: center;

}
.information a {
  color: #c9d1d9;
  text-decoration: none;
  font-weight: bold;
  display: flex;
}
.a-ultm1::after {
  content:  " | ";
}
.a-ultm2::before {
  content:  " | ";
}
.information a:first-child {
  display: flex;
  grid-area:information1;
  text-align: center;
}
.information a:nth-child(2) { 
  display: flex;
  grid-area:information2;
  text-align: center;
  padding: 0 0.5rem;
}
.information a:last-child {
  display: flex;
  grid-area:information3;
  text-align: center;
} 
@media (min-width: 356px) {
 
  
  .slider-container {
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    justify-content: center;
  }

  .slider__body--show {
    opacity: 1;
    pointer-events: unset;
  }
  .slider__img {
    width: 15rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem  0 0.2rem cornflowerblue;
  }
  .fa-circle-right {
    margin-left: 30px;
  }
  
  .slider-arrow {
    align-self: center;
    font-size: 2rem;
    color: var(--color-li1);
    animation-name: zoom-arrow;
    animation-duration: 1s;
    animation-timing-function: liner;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    margin: 0 1rem;
  }
  .contacto__form-input {
    border: 0.25rem solid var(--color-li0);
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 15rem;
    display: flex;
   
  }
}
@media (min-width: 459px) {
  .copyright {
  
    display: grid;
    justify-content: center;

    grid-template-areas: 
    "copyrigh1 copyrigh2"
    ;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  .a-ultm1::after {
    content:  " | ";
  }
  .a-ultm2::before {
    content:  " | ";
    margin-right: 0.5rem;
  }

  .hero-blob svg{
    width: 100%;
    height: 100%;
  
  }
  .hero-blob{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -111;
      display: flex;
  }
.habilidades__habilidades-list {
  display: grid;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  height: 15rem;
  overflow: auto;
  grid-template-columns: 100px 100px ;
  grid-template-rows: 45px 45px 45px 45px 45px 45px 45px 45px 45px;
}
.habilidades__habilidad {
  padding: 1;
}
}

@media (min-width: 468px) {
  
  .a-ultm1::after {
    content:  " | ";
    margin-left: 0.5rem;
  }
  .slider__img {
    width: 22rem;
    height: 16rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem  0 0.2rem cornflowerblue;
  }
  .fa-circle-right {
    margin-left: 17px;
  }
  .contacto__form-input {
    border: 0.25rem solid var(--color-li0);
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 16rem;
    display: flex;
   
  }
}
@media (min-width: 529px) {
  .slider__img {
    width: 23rem;
    height: 17rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem  0 0.2rem cornflowerblue;
  }
  .fa-circle-right {
    margin-left: 17px;
  } 
  .contacto__form-input {
    border: 0.25rem solid var(--color-li0);
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 17rem;
    display: flex;
   
  }

  /* ---------------------------MAIN-SECTION-FOOTER----------------------------------------------------------------------------- */
  .container-footer1 {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    max-width: 933px;
    grid-template-areas: 
    "addres1 addres1"
    "addres2 addres3"
    ; 
    grid-template-rows: auto auto ;
    grid-template-columns: auto ;
  }
  .row-1 {
    min-width: 224.84px;
  }
  .row-2 {
    min-width: 256px;
  }

.habilidades__habilidades-list {
  display: grid;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  height: 15rem;
  overflow: auto;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 45px 45px 45px 45px 45px 45px;
}
.habilidades__habilidad {
  padding: 1;
}

}
@media (min-width: 666px) {
  .slider__img {
    width: 24rem;
    height: 18rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem  0 0.2rem cornflowerblue;
  }
  .fa-circle-right {
    margin-left: 17px;
  }
  .contacto__form-input {
    border: 0.25rem solid var(--color-li0);
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 18rem;
    display: flex;
   
  }

.habilidades__habilidades-list {
  display: grid;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  height: 15rem;
  overflow: auto;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 45px 45px 45px 45px 45px 45px;
}
.habilidades__habilidad {
  padding: 1;
}

}
@media (min-width: 720px) {
 
  .perfi-container__info {
    max-width: 656px;
  }
  .slider__img {
    width: 25rem;
    height: 19rem;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem  0 0.2rem cornflowerblue;
  }
  .fa-circle-right {
    margin-left: 17px;
  }
  .contacto__form-input {
    border: 0.25rem solid var(--color-li0);
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    min-width: 19rem;
    display: flex;
   
  }

.habilidades__habilidades-list {
  display: grid;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  height: 15rem;
  overflow: auto;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 45px 45px 45px 45px 45px 45px;
}
.habilidades__habilidad {
  padding: 1;
}

}
@media (min-width: 835px) {
  .header-nav__container-list-desactibe {
    position: static;
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 0.7rem;
    background-image: none;
    transform: translate(0);

  }
  .header-nav__container-link {
    width: auto;
    display: block;
  }
  .header-nav-link__items {
    padding: 0.5rem;
    display: block;
    border: none;
    border-radius: 1re,;
  }
  .hamburger {
    display: none !important;
  }
  @keyframes color-background-a1{
    0% {
      background-color: #a1e750; 
    }
    100% {
      background-color: #a1e750;
      filter: brightness(120%);   
    }
  } 
  @keyframes color-background-a2{
    0% {
      background-color: #d9d9d9; 
    }
    100% {
      background-color: #d9d9d9;
      filter: brightness(120%); 
    }
  } 
  @keyframes color-background-a3{
    0% {
      background-color: #ffcd39; 
    }
    100% {
      background-color:#ffcd39;
      filter: brightness(120%);
    }
  } 
  @keyframes color-background-a4{
    0% {
      background-color: #ff308f; 
    }
    100% {
      background-color: #ff308f;
      filter: brightness(120%);
    }
  } 
  .header-nav__container-link1 {
    animation-name: none;
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-play-state:running;
  }
  .header-nav__container-link2 {
    animation-name: none;
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-play-state:running;
  }
  .header-nav__container-link3 {
    animation-name: none;
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-play-state:running;
  }
  .header-nav__container-link4 {
    animation-name: none;
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-play-state:running;
  }
  .header-nav-link__items1 {
    animation-name: color-background-a1;
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-play-state:running;
  }
  .header-nav-link__items2 {
    animation-name: color-background-a2;
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-play-state:running;
  }
  .header-nav-link__items3 {
    animation-name: color-background-a3;
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-play-state:running;
  }
  .header-nav-link__items4 {
    animation-name: color-background-a4;
    animation-duration:2s;
    animation-delay: 0s;
    animation-direction:alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-timing-function: linear;
    animation-play-state:running;
  }
  .slider__img {
    width: 26rem;
    height: 20rem;
    border-radius: 0;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem  0 0.2rem cornflowerblue;
  }
  .fa-circle-right {
    margin-left: 17px;
  }
  .container-footer1 {
    box-sizing: border-box;
    display: grid;
    width: 100%;
    max-width: 933px;
    grid-template-areas: 
    "addres1 addres2 addres3"
    ; 
    grid-template-rows: auto ;
    grid-template-columns: auto auto auto;
    justify-content: center;
    
  }
  .container-footer1__addres1{
    grid-area: addres1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    max-width: 420px;
  }
  .container-footer-2 {
    grid-template-areas: 
    "copyrigh information"
    ;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
  }
  hr {
    display: none;
  }
  .copyright {
    color: #C7C7C7;
  
    display: flex;
    justify-content: center;
    margin-bottom: 0;
  }
  .information {
    display: flex;
    color: #C7C7C7;
    justify-content: center;
    margin-top: 0;
  }
  .contacto__form-input {
    border: 0.25rem solid var(--color-li0);
    border-radius: 0.5rem;
    outline: none;
    padding: 0.5rem;
    width: 20rem;
    display: flex;
   
  }

.habilidades__habilidades-list {
  display: grid;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  height: 15rem;
  overflow: auto;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 45px 45px 45px 45px 45px 45px;
}
.habilidades__habilidad {
  padding: 1;
}

}
@media (min-width: 1000px) {
  .main {
    width: 100%;
    max-width: 1400px;
    grid-area: main;
    display: grid;
    grid-template-areas:
        "perfil"
        "experiencia"
        "habilidades"
        "contactar";
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    box-sizing: border-box;
    animation-name: background-main;
    animation-duration: 24s;
    animation-timing-function: linear;
    animation-fill-mode: none;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
  .habilidades__habilidades-list::-webkit-scrollbar {
    -webkit-appearance: none;
  }
  
  .habilidades__habilidades-list::-webkit-scrollbar:vertical {
    width:4px;
  }
  
  .habilidades__habilidades-list::-webkit-scrollbar-button:increment,.contenedor::-webkit-scrollbar-button {
    display: none;
  
  } 
  
  .habilidades__habilidades-list::-webkit-scrollbar:horizontal {
    height: 10px;
  }
  
  .habilidades__habilidades-list::-webkit-scrollbar-thumb {
    background-color: #3b3b3b9a;
    border-radius: 20px;
  }
  
  .habilidades__habilidades-list::-webkit-scrollbar-track {
    border-radius: 10px;  
  }
  /* -----------------------MAIN-SECTION-PERFIL------------------------------------------------------------------------------------- */
 .perfil {
  grid-area: perfil;
  padding-top: 4rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  display: grid;
  grid-template-areas: 
  "container1 container3"
  "container2 container3"
  ;
  grid-template-columns: 656px 1fr;
  grid-template-rows: auto auto ;
  background-color: #a788ab3b;
  justify-content: center;
  gap: 0;
}
.perfi-container__info {
  grid-area: container1;
  color: var(--color-li0);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #ccd9f7;
}
.perfil__title{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 700;
  margin-bottom: 0.5rem;
  font-size:2rem;
}
.perfil__sub-title{
  margin-bottom: 0.5rem;
}
.perfil-container__enlaces {
  grid-area: container2;
  display: flex;
  justify-content: center;
  margin-bottom: 0rem;
  box-sizing: border-box;
  background-color: #ccd9f7;

}
.container {
  background-color: white;
  padding: 2rem 0;
}
.slider-container {
  grid-area: container3;
  display: grid;
  grid-template-columns: min-content min-content min-content;
  align-items: center;
  justify-content: center;

}

.slider__body--show {
  opacity: 1;
  pointer-events: unset;
}
.slider__img {
  width: 15.5rem;
  height: 15.5rem;
  border-radius: 0.25rem;
  object-fit: cover;
  box-shadow: 0.5rem 0.5rem  0 0.2rem cornflowerblue;
}

.slider-arrow {
  align-self: center;
  font-size: 2rem;
  color: var(--color-li1);
  animation-name: zoom-arrow;
  animation-duration: 1s;
  animation-timing-function: liner;
  animation-delay: 0s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  margin: 0 0.5rem;
  cursor: pointer;
}

.perfil__enlace {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 1rem;
  height: min-content;
}
.perfil__enlace-CV {
  margin-right: 1rem;
  animation-name: zoom-color_enlace1;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.perfil__enlace-CV i {
  color:rgb(255, 255, 255);
  font-size: 1rem;
}
.perfil__enlace-portafolio {
  animation-name: zoom-color_enlace2;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-direction: alternate;
  animation-fill-mode: none;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.habilidades__habilidades-list {
  display: grid;
  justify-content: center;
  list-style: none;
  gap: 1rem;
  margin: 0;
  padding: 0;
  height: 20rem;
  overflow: visible;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: 45px 45px 45px 45px 45px;
}

.experiencia {
  padding: 0rem;
}
.experiencia-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    max-width: 700px;
    padding: 4.1rem 2rem 2rem 2rem;
    background-color: #f7f7f7;

}
.contacto__form-input {
  border: 0.25rem solid var(--color-li0);
  border-radius: 0.5rem;
  outline: none;
  padding: 0.5rem;
  width: 23rem;
  display: flex;
 
}
}
@media (min-width: 1050px) {
  .header-nav-link__items {
    animation-name: none;
    color: black;
    font-size: 1.2rem;
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 700;
  }
  .header-nav-link__items::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    border-right:5px var(--clr) solid ;
    width: 0;
    overflow: hidden;
    transition: all 1s;

  }
  .header-nav-link__items::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    border-right:5px var(--clr) solid ;
    width: 0;
    overflow: hidden;
    transition: all 1s;

  }
  .header-nav-link__items:hover::before {

    width: 100%;
    overflow: hidden;

  }
  .header-nav-link__items::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    border-right:5px var(--clr) solid ;
    width: 0;
    overflow: hidden;
    transition: all 1s;
    filter: drop-shadow(0 0 10px var(--clr));

  }
  .header-nav-link__items:hover::before {
    width: 100%;
    overflow: hidden;

  }
  .header-md .header-nav-link__items {
    animation-name: none;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    position: relative;
    padding: 0;
    margin: 0;
    font-weight: 700;
  }
  .slider-container {
    grid-area: container3;
    display: grid;
    grid-template-columns: 48px 1fr 55px ;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: center;
    padding-right: 2rem;
  }
  .slider__body {
    height: 100%;
  }
  .slider__picture {
    display: flex;
    height: auto;
  }
.slider__img {
  display: flex;
  width: 100%;
  height:auto;
  border-radius: 0.5rem;
  object-fit: cover;
  box-shadow: 0.5rem 0.5rem  0 0.2rem cornflowerblue;
}
.fa-circle-right {
  margin-left: 17px;
}

}
